[Unit]
Description=mpd-mpris: An implementation of the MPRIS protocol for MPD
Requires=mpd.service
After=mpd.service

[Service]
ExecStart=/usr/local/bin/mpd-mpris -no-instance -host 127.0.0.1
Restart=on-failure

[Install]
WantedBy=default.target
